body{
	margin: 0;
	padding: 0;
}
.sec-2{
	background: url(mountain-1.png) no-repeat;
}
.sec-2 .col-md-12{
	display: flex;
	text-decoration: none;
}
.sec-2 ul{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.sec-2 .col-md-12 .col-md-3{
	width: 300px;
	height: auto;
	align-self: auto;
	text-align: center;
	padding: 40px 10px 20px 10px;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: list-item;
	list-style: none;
	margin-top: 30px;
    --webkit-text-size-adjust: 100%;
    --webkit-tap-highlight-color: transparent;
}

.sec-2 div .items_list{
	text-align: center;
	padding: 0 10px;
	width: 300px;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	align-self: center;
}
.items_list_1{
	justify-content: center;
	list-style: none;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;

}

section .home-feature{
	float: left;
	width: 100%;
	padding: 40px 0;
	background-color: #3E4F60;
	max-height: 800px;
}
section .home-feature .home-feature-heading{
	text-align: center;
	color: white;
}
section .home-feature .home-feature-section-a{
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding-top: 40px;
	width: 90%;
	max-width: 880px;
	text-align: center;
	margin: auto;

}
section .home-feature .home-feature-section-a .home-feature-img1{
	padding-left: 90px;
	margin: 0;
	text-align: center;
}
section .home-feature .home-feature-section-a .home-feature-img1 h3{
	color: white;
}
section .home-feature .home-feature-section-a .home-feature-img2{
	padding-right: 90px;
}
section .home-feature .home-feature-section-a .home-feature-img2 h3{
	color: white;
}

section .home-feature .home-feature-section-b{
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding-top: 40px;
	width: 90%;
	max-width: 880px;
	text-align: center;
	margin: auto;

}
section .home-feature .home-feature-section-b .home-feature-img3{
	padding-left: 90px;
	margin: 0;
	text-align: center;
}
section .home-feature .home-feature-section-b .home-feature-img3 h3{
	color: white;
}
section .home-feature .home-feature-section-b .home-feature-img4{
	padding-right: 90px;
}
section .home-feature .home-feature-section-b .home-feature-img4 h3{
	color: white;
}
.container_why{
	background-color: #F0EEE1;
	float: left;
	width: 100%;
	width: 40px 0;

}

.container_why h3{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;	
	color: #4D6479;
	font-weight: 500 !important;
	font-size: 2.0em !important;
	display: block;
}
.container_why .accordion{
	padding-bottom: 50px;
	padding-left: 300px;
	padding-right: 300px;


}
.index_snow{
	float: left;
	width: 100%;
	padding: 40px 0;
	background-color: #F0EEE1;
}
.index_snow h3{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #4D6479;
	padding: 0;
	font-weight: 400 !important;
	font-size: 2em !important;
}
.index_snow .home-spin{
	position: relative;
	display: block;
	padding: 0;
	overflow: hidden;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

.index_snow .home-spin iframe{
	padding-left: 500px;
	margin: auto 0;
	padding-top: 40px;
	padding-bottom: 40px;

}

.index_snow .text-container .inner{
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	width: 100%;
}
/*-------------------------------------------------------POSTER 1------------------------------*/
section .index_poster_1{
	background-position-x: 80%;
	background-image: url(skates1.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}
section .index_poster_1 .index_poster_1_left{
	margin: auto 10%;
	display: block;
	width: 310px;

}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img .index_button1{
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	background-color: transparent;

}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img .index_button1 .btn-md{
	background: #F26144 !important;
	font-size: 1.4em !important;
	width: unset !important;
	margin-top: 1.5rem!important;
	-webkit-appearance: button;
	text-transform: none;
	color: white;
}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img .index_button2{
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	background-color: transparent;

}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img .index_button2 .btn-md{
	background: #F26144 !important;
	font-size: 1.4em !important;
	width: unset !important;
	margin-top: 1.5rem!important;
	-webkit-appearance: button;
	text-transform: none;
	color: white;
}
section .index_poster_1 .index_poster_1_left .index_poster_1_left_content .index_poster_1_left_content_img .index_button2 .btn-md:hover{
	background: #3E4F60;
}
/*----------------------------POSTER2--------------------------------------------------*/

section .index_poster_2{
	background-position-x: 80%;
	background-image: url(skates2.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_2 .index_poster_2_left{
	margin: auto 65%;
	display: block;
	width: 310px;
}

section .index_poster_2 .index_poster_2_left .index_poster_2_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_2 .index_poster_2_left .index_poster_2_left_content .index_poster_2_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_2 .index_poster_2_left .index_poster_2_left_content .index_poster_2_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_2 .index_poster_2_left .index_poster_2_left_content .index_poster_2_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}
/*-----------------------------------------POSTER3---------------------------*/

section .index_poster_3{
	background-position-x: 77%;
	background-image: url(skates3.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_3 .index_poster_3_left{
	margin: auto 10%;
	display: block;
	width: 310px;
}

section .index_poster_3 .index_poster_3_left .index_poster_3_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_3 .index_poster_3_left .index_poster_3_left_content .index_poster_3_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_3 .index_poster_3_left .index_poster_3_left_content .index_poster_3_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_3 .index_poster_3_left .index_poster_3_left_content .index_poster_3_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}
/*----------------------------------------------POSTER4-----------------------------*/

section .index_poster_4{
	background-position-x: 80%;
	background-image: url(skates4.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_4 .index_poster_4_left{
	margin: auto 65%;
	display: block;
	width: 310px;
}

section .index_poster_4 .index_poster_4_left .index_poster_4_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_4 .index_poster_4_left .index_poster_4_left_content .index_poster_4_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_4 .index_poster_4_left .index_poster_4_left_content .index_poster_4_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_4 .index_poster_4_left .index_poster_4_left_content .index_poster_4_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}

/*---------------------------------poster5---------------------------*/

section .index_poster_5{
	background-position-x: 77%;
	background-image: url(skates5.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_5 .index_poster_5_left{
	margin: auto 10%;
	display: block;
	width: 310px;
}

section .index_poster_5 .index_poster_5_left .index_poster_5_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_5 .index_poster_5_left .index_poster_5_left_content .index_poster_5_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_5 .index_poster_5_left .index_poster_5_left_content .index_poster_5_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_5 .index_poster_5_left .index_poster_5_left_content .index_poster_5_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}

/*----------------------------------------------POSTER6-----------------------------*/

section .index_poster_6{
	background-position-x: 80%;
	background-image: url(skates6.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_6 .index_poster_6_left{
	margin: auto 65%;
	display: block;
	width: 310px;
}

section .index_poster_6 .index_poster_6_left .index_poster_6_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_6 .index_poster_6_left .index_poster_6_left_content .index_poster_6_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_6 .index_poster_6_left .index_poster_6_left_content .index_poster_6_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_6 .index_poster_6_left .index_poster_6_left_content .index_poster_6_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}


/*---------------------------------poster7---------------------------*/

section .index_poster_7{
	background-position-x: 77%;
	background-image: url(skates7.jpg);
	background-position: center;
	clear: both;
	background-size: cover;
	min-height: 350px;
	border-top: 2px solid white;
}

section .index_poster_7 .index_poster_7_left{
	margin: auto 10%;
	display: block;
	width: 310px;
}

section .index_poster_7 .index_poster_7_left .index_poster_7_left_content{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
}	

section .index_poster_7 .index_poster_7_left .index_poster_7_left_content .index_poster_7_left_content_img{
	margin-top: 3rem!important;
} 
section .index_poster_7 .index_poster_7_left .index_poster_7_left_content .index_poster_7_left_content_img .index_button1{
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	text-decoration: none;
}
section .index_poster_7 .index_poster_7_left .index_poster_7_left_content .index_poster_7_left_content_img .index_button1 .btn-lg{
	background: #F26144 !important;
	margin-top: 1.5rem!important;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	color: white;
	padding-left: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	font-size: 1.4em !important;
	width: unset !important;
}

/*-------------------BEST WINTER---------------*/

.text_12{
	background-color: #F0EEE1;
	width: 100%;
	padding: 40px 0px;
}

.text_12 .text-container_12{
	float: none;
	max-width: 800px;
	padding: 0;
	text-align: center;
	color: #3E4f60;
	margin: 0 auto;
}
.text_12 .text-container_12 .index_12{
	
	
}

video{
	width: 100%;
	height: 100%;
}
/*-------------------------3buttons-------------------------*/
section .index_shop{
	float: left;
	width: 100%;
	padding: 10px 0;
	background: #F0EEE1;
}
section .index_shop .index_shop_now{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	color: #4D6479;
	font-weight: 500 !important;
	font-size: 2.5em !important;
}
section .index_shop .index_shop_now_buttons{
	width: 100%;
	margin: 0 auto;
}
section .index_shop .index_shop_now_buttons .index_shop_now_buttons_inner{
	margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    width: 100%;
}
section .index_shop .index_shop_now_buttons .index_shop_now_buttons_inner a{
   width: 50px;
   height: 50px;
}
section .index_shop .index_shop_now_buttons .index_shop_now_buttons_inner .index_shop_now_buttons_inner1{
	background: #F26144;
	width: 250px;
	margin: 0 auto;
	color: #fff;
	padding: 15px;
	text-align: center;
	border: none;
	text-decoration: none;
	cursor: pointer;
	margin-top: 1rem!important;
}
section .index_shop .index_shop_now_buttons .index_shop_now_buttons_inner .index_shop_now_buttons_inner1:hover{
	background: #4D6479;
}

/*------------------footer-----------------------------*/
footer{
	background: #3E4F60;
	color: #fff;
	float: left;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
footer .container-1{
	padding: 40px 0 0 0;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	float: none;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
footer .container-1 .logo{
	float: left;
	max-width: 25%;
	color: white;
}

footer .container-1 .social{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
footer .container-1 .social li{
	width: 45%;
	float: left;
	padding: 0 10px;
	font-family: 'open-sans',sans-serif !important;
	color: #52504F;
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
}
footer .container-1 .social li a{
	color: #fff;
}
footer .container-1 .social li a ion-icon{
	font-size: 3em !important;
	font-family: "Font Awesome 5 Brands";
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

footer .container-2{
	float: left;
	border-top: 1px solid white;
	width: 100%;
}
footer .container-2 .inner{
	float: none;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	font-size: .8em;
}

footer .container-2 .inner a{
	color: white;
}








.nav-item{
	border-right: 1px solid #2b3948;
	padding: 8px;
}
.navbar_1{
	background-color: #3E4f60;
}
.nav-item_1{
	padding: 8px;
}

.short_nav{
	text-decoration: none;
	text-align: center;
	display: flex;
	color: white;
	align-items: center;
	padding-left: 350px;
}
.short_navbar{
	background-color: #f95216;
}
.text_1{
	background-color: #3E4f60;
	width: 100%;
	padding: 40px 0px;
}

.text-container{
	float: none;
	max-width: 800px;
	padding: 0;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}
.index{
	text-shadow: 5px 5px 13px #000;
	
}

.navbarDropdown :hover{
	background-color: #3E4f60;
}













